{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ partial "title.html" . }}

<div class="container">
	{{ partial "back.html" . }}
    <div class="row">
	    {{ range $element := .Params.products }}
			<div class="col-xs-6 col-sm-6 col-md-3">
			{{ range where $.Site.Pages "Params.title" $element.path }}
		    	<a href="{{ .URL }}">
	    			<img class="img-responsive center-responsive-gallery-image" src="{{ .Params.thumbnail }}">
	    		</a>
	    		<p class="centered-text" style="padding-bottom: 45px">{{ .Title }}</p>
	      	{{ end }}
	      	</div>
	    {{ end }}
	</div>
</div>
{{ partial "form.html" . }}
{{ partial "footer.html" . }}