    <footer class="footer" style="{{ if .IsHome }}transform: translateY(90px); {{ end }}">
	    <div class="container">
            <div class="row">
                {{ range where $.Site.Pages "Params.title" "Wazna_data_nie_zmieniac_tytulu" }}
                <div class="col-xs-12 col-sm-6 col-md-3">
            		<a href="{{ .Site.BaseURL }}">
                        <img style="max-width:200px; max-height:60px; filter: brightness(100) invert(1);" src="/images/white_logo.png">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h6>Numery telefonu</h6>
                    <h4 style="font-family: Lora; font-size: 24px">{{ .Params.phone_numbers }}</h4>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-2">
                    <a href="{{ "privacy" | absLangURL }}"><h5 style="font-family: Lora; font-size: 14px; padding-top: 24px; color: black">Polityka prywatności</h5></a>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-3">
                    <a style="padding: 10px;" href="mailto:{{ .Params.mail }}">
                        <img src="/images/mail_picture.png">
                    </a>
                    <a style="padding: 10px;" href="{{ .Params.facebook_url }}">
                        <img src="/images/facebook_picture.png">
                    </a>
                    <a style="padding: 10px;" href="{{ .Params.instagram_url }}">
                        <img src="/images/instagram_picture.png">
                    </a>
                    <a style="padding: 10px;" href="{{ .Params.pinterest_url }}">
                        <img src="/images/pinterest_picture.png">
                    </a>
                </div>
                {{ end }}
            </div>
	    </div>
    </footer>
	<script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jelly.js"></script>
    <script src="/js/zabuto_calendar.js"></script>
    <script src="/js/jquery.colorbox-min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>
</html>