<nav id="{{ if .Params.image }}makeitNav{{ end }}" class="makeit-navbar{{ if .Params.image }}-image{{ end }} navbar navbar-default navbar-fixed-top affix-top" data-toggle="affix" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar" style="width: 32px;"></span>
                <span class="icon-bar"></span>
            </button>
            {{ partial "navbar/navbar_home.html" . }}
        </div>
        {{ partial "navbar/navbar_menu.html" . }}
    </div>
</nav>