<meta property="og:locale" content="pl_PL">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ if .Params.SEO_Title }}{{ .Params.SEO_Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{ if .Params.SEO_Summary }}{{ .Params.SEO_Summary }}{{ else }}{{ .Summary }}{{ end }}">
<meta property="og:site_name" content="Wypożyczalnia dekoracji ślubnych">
{{ if .Params.image }}
    <meta property="og:image" content="{{ .Params.image | absURL }}">
{{ else }} 
    {{ if .Params.images }}
        {{ range $index, $element := .Params.images }}
            {{ $.Scratch.Set "active" (eq 0 $index) }}
            {{ $active := $.Scratch.Get "active" }}
                {{ if $active }}
                    <meta property="og:image" content="{{ $element.image | absURL }}">
                {{end}}
        {{ end }}
    {{ else }}
        {{ if .Params.about_image }}
            <meta property="og:image" content="{{ .Params.about_image | absURL }}">
        {{ end }}
    {{ end }}
{{ end }}
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="{{ if .Params.SEO_Summary }}{{ .Params.SEO_Summary }}{{ else }}{{ .Summary }}{{ end }}">
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{ if .Params.SEO_Title }}{{ .Params.SEO_Title }}{{ else }}{{ .Title }}{{ end }}",
    "description" : "{{ if .Params.SEO_Summary }}{{ .Params.SEO_Summary }}{{ else }}{{ .Summary }}{{ end }}",
    "inLanguage" : "pl-PL",
    "url" : "{{ .Permalink }}",
    "department" : "Wypożyczalnia dekoracji ślubnych",
    "brand" : "Make It Happen"
}
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T266PJS');</script>
<!-- End Google Tag Manager -->