		<div class="jumbotron" style="{{ if .Params.image }}background:url('{{ .Params.image }}') no-repeat center center; background-size:cover;{{ end }} {{ if .Params.blend }} background-blend-mode: darken;
    background-color: rgba(1, 1, 1, 0.4); {{ end }}">
				<div class="container" style="align-items: center;">
					{{ if .Title }} 
						<h5 class="text-center" style="margin-bottom: 15px;color:{{ if .Params.image }}#ffffff{{ else }}rgb(150, 150, 150){{ end }};">{{ .Title }}</h5>
					{{ end }}
					{{ if .Description }} 
						<h2 class="text-center"{{ if .Params.image }}style="color:#ffffff;"{{ end }}>{{ .Description }}</h2>
					{{ end }}
					{{ if .Params.small_description }} 
						<h6 class="text-center" style="margin-top: 20px; color:{{ if .Params.image }}#ffffff{{ else }}rgb(150, 150, 150){{ end }};">{{ .Params.small_description }}</h6>
					{{ end }}
				</div>
		</div>