html {
  	position: relative;
  	min-height: 100%;
}

body {
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 100px;
}

.footer {
  bottom: 0;
  clear: both;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

/* navbar */

.makeit-navbar-image {
  letter-spacing: 2px;
	background-color: transparent;
  font-size: 11px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.makeit-navbar-image .navbar-nav>li>a,
.makeit-navbar-image .navbar-nav>li>a:active {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    color: #ffffff;
    line-height: 10px;
    font-weight: bold;
}

.makeit-navbar-image .navbar-nav>.active>a,
.makeit-navbar-image .navbar-nav>.active>a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: line-through;
}

.makeit-navbar-image .navbar-nav>.active>a:focus,
.makeit-navbar-image .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: unset;
}

.makeit-navbar-image .navbar-nav>li>a:focus,
.makeit-navbar-image .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: line-through;
}

.makeit-navbar-image .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
}

.makeit-navbar-image .navbar-collapse.in {
    background-color: rgba(0, 0, 0, 0.7);
}

.makeit-navbar-image.affix .navbar-collapse.in {
    background-color: rgba(0, 0, 0, 0);
}

.makeit-navbar-image .navbar-collapse.collapsing {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-no-image-logo>img {
  filter: brightness(100) invert(1);
}

.navbar-no-image-logo.affix>img  {
  transform: scale(0.7) translateY(-5px);
}

.navbar-logo.affix>img  {
  transform: scale(0.7) translateY(-5px);
  filter: brightness(100) invert(1);
}

/* navbar without image */

.makeit-navbar {
  letter-spacing: 2px;
  background-color: #f2f2f2;
  font-size: 11px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.makeit-navbar .navbar-nav>li>a,
.makeit-navbar .navbar-nav>li>a:active {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    color: #000000;
    line-height: 10px;
    font-weight: bold;
}

.makeit-navbar .navbar-nav>.active>a,
.makeit-navbar .navbar-nav>.active>a:active {
    color: #000000;
    background-color: #f2f2f2;
    text-decoration: line-through;
}

.makeit-navbar .navbar-nav>.active>a:focus,
.makeit-navbar .navbar-nav>.active>a:hover {
    color: #000000;
    background-color: #f2f2f2;
    text-decoration: unset;
}

.makeit-navbar .navbar-nav>li>a:focus,
.makeit-navbar .navbar-nav>li>a:hover {
    color: #000000;
    background-color: #f2f2f2;
    text-decoration: line-through;
}

.makeit-navbar .navbar-toggle .icon-bar {
    background-color: #000000;
}

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* affic override */

.navbar-default.affix {
    background-color: #f2f2f2;
}

.navbar-default.affix .navbar-nav>li>a,
.navbar-default.affix .navbar-nav>li>a:active  {
    color: #000000;
}

.navbar-default.affix .navbar-nav>.active>a,
.navbar-default.affix .navbar-nav>.active>a:active {
    color: #000000;
    background-color: #f2f2f2;
}

.navbar-default.affix .navbar-nav>.active>a:focus,
.navbar-default.affix .navbar-nav>.active>a:hover {
    color: #000000;
    background-color: #f2f2f2;
}

.navbar-default.affix .navbar-nav>li>a:focus,
.navbar-default.affix .navbar-nav>li>a:hover {
    color: #000000;
    background-color: #f2f2f2;
}

.navbar-default.affix .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-default.affix .navbar-toggle>span:hover {
    background-color: #000000;
}

.navbar-default.affix .navbar-collapse.in {
    background-color: #f2f2f2;
}

.navbar-default.affix .navbar-collapse.in {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default.affix .navbar-collapse.collapsing {
    background-color: #f2f2f2;
}

/* jumbotron */
.centered-text {
    text-align:center;
}

.jumbotron {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  height: 450px;
}

/* accordion */

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.panel-title > a:after {
  content: "\f107";
  font-family: FontAwesome;
  float: right !important;
}

.panel-title > a[aria-expanded=true]:after {
  content: "\f106";
  font-family: FontAwesome;
  float: right !important;
}

.panel-title > a[aria-expanded=false]:after {
  content: "\f107";
  font-family: FontAwesome;
  float: right !important;
}

.panel-default {
  border: 0;
  border-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* grid */

.center-responsive-image-offset {
  margin: 0 auto;
  padding-bottom: 25px;
  margin-top: 30%;
  margin-bottom: 30%;
}

.center-responsive-image {
  margin: 0 auto;
  padding-bottom: 25px;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.about-col-md-5-offset {
}

@media (min-width: 991px) {
  .col-md-5-offset {
    padding-top: 60px;
  }
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

/* home */

.home-center-responsive-image {
  margin: 0 auto;
}

.home-decors-responsive-image-offset {
  margin: 0 auto;
  transform: translateY(30px);
}

.home-decors-offset {

}

.centered-text-home-decors {
  text-align:center;
  transform: translateY(30px);
}

.row-home-decors {
}

.home-col-md-3 {
}

.row-home-how {
  transform: translateY(75px);
}

.home-form {
}

.btn-home,
.btn-home:hover, 
.btn-home:active, 
.btn-home:focus {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 11px;
  z-index: 0;
  margin-left: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: none;
  background-color: rgb(214, 214, 214);
  border: none;
}

.btn-home:hover,
.btn-home:active {
  background-color: rgb(150, 150, 150) !important;
  color: #000000 !important;
}

.button-home-wrapper:before {
  margin-top: 30px;
  content:" ";
  width: 25px;
  height: 1px;
  vertical-align: super;
  background-color: black;
  display:inline-block;
  z-index: 1;
  position: relative;
}

@media (max-width: 991px) {
  .home-center-responsive-image {
    max-height: 300px;
  }
  .row.row-home-how {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    direction: rtl;
  }

  .row.row-home-how > [class*="col-"] {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    direction: ltr;
  }
}

@media (min-width: 991px) {
  .home-center-responsive-image {
    transform: translateY(75px);
    margin: 0 auto;
  }

  .home-col-md-3 {
    padding-top: 180px;
  }

  .row-home-decors {
    transform: translateY(75px);
  }

  .home-decors-offset {
    transform: translateY(50px);
  }

  .row-home-how {
    transform: translateY(150px);
  }

  .home-form {
    transform: translateY(50px);
  }
}

/* product */
.arrow-left {
  content: "&#8592";
}

.makeit-carousel-caption {
    left: 0%;
    right: 0%;
    color: #000000;
    bottom: 0;
    background-color: #f2f2f2a1;
    font-weight: 700;
    font-size: 13px;
    padding-top: 24px;
    padding-bottom: 30px;
    height: 60px;
    text-shadow: none;
}

.makeit-carousel-control.left,
.makeit-carousel-control.right {
    background-image: none;
}

.makeit-carousel-control {
    filter: none;
    position: absolute;
    padding-top: 18px;
    padding-bottom: 30px;
    height: 60px;
    top: initial;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 1;
    color: #000000;
    background-color: rgba(0,0,0,0);
}

@media screen and (min-width: 768px) {
  .makeit-carousel-control {
      padding-top: 40px;
      padding-bottom: 0px;
      height: 100px;
  }

  .makeit-carousel-caption {
      padding-top: 42px;
      padding-bottom: 30px;
      height: 100px;
  }
}

.makeit-back {
    color: #000000;
    text-decoration: unset;
}

.makeit-back:hover, 
.makeit-back:active, 
.makeit-back:focus {
    color: #000000;
    text-decoration: line-through;
}

.makeit-legend ul li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

ul.makeit-legend li.reserved {
    background-color: #fff0c3;
}

/* realization */
.center-responsive-gallery-image {
  margin: 0 auto;
  padding-bottom: 5px;
}

/* form */
.form-column {
  padding-top: 40px;
  padding-bottom: 30px;
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.btn-form,
.btn-form:hover, 
.btn-form:active, 
.btn-form:focus {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 11px;
  z-index: 0;
  margin-left: -20px;
  margin-right: 20px;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: none;
  background-color: #ffffff;
  border: none;
  color: #000000;
}

.btn-form:hover,
.btn-form:active {
  background-color: rgb(204, 204, 204) !important;
  color: #ffffff !important;
}

.button-form-wrapper:before {
  content:" ";
  width: 25px;
  height: 1px;
  vertical-align: super;
  background-color: black;
  display:inline-block;
  z-index: 1;
  position: relative;
}

.form-control {
    color: black;
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    background-color: #ffffff00;
    box-shadow: none;
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

.has-error .form-control {
    box-shadow: none;
}

.has-error .form-control:focus {
    box-shadow: none;
}

@media (max-width: 991px) {
  .form-column {
    padding-top: 15px;
    padding-bottom: 60px;
  }
  .btn-form,
  .btn-form:hover, 
  .btn-form:active, 
  .btn-form:focus {
    transform: none;
  }
}

/* global text */
h2 {
  margin-top: 0px;
  font-family: "Lora"
}

h6 {
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

h5 {
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

label {
  font-family: "Lora";
  font-size: 11px;
  font-weight: bold;
}

input {
  font-family: "Lora";
  font-weight: bold;
}

select {
  font-family: "Lora";
  font-weight: bold;
  color: rgb(150, 150, 150) !important;
}